<!DOCTYPE HTML>
		<head>
			<title>Home</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

			<style type="text/css">
				span {
					font-size: 150%;
				}
			</style>
		</head>
		<html>
			<body>
				<div class='container text-center'>
					<h1>Django1-11-2</h1>
					<p>A robust framework based on {{ lang }}</p>

					<p>
						{% if bool_item %}
							Random number is <span class='text-secondary'>{{ num }}</span></p>
						{% else %}
							Bool is False I think
						{% endif %}

						{% for num in list %}
							{% if num|divisibleby:"2" %}
								{{ num }} <br>
							{% endif %}
						{% endfor %}
				</div>
			</body>
		</html>