{% extends "base.html" %}

{% block title %}Creator | MuyPicky.com{% endblock title %}

{% block content %}
	<div class="jumbotron">	
		<h1 class="display-4">Divya Vishwakarma</h1>
		<p>Divya is currently persuing his BE from Samrat Ashok Technological Institute from CSE branch. He has just completed his 2nd year and is currently in Hyderabad for a course on data science. Simultaneously he is also practicing Django web framework so that he could make his web applications more fastly.</p>

		<p>He's fallen in <span class="text-danger">love</span> with <span class="text-success">{{ lang }}</span></p>
	</div>
{% endblock content %}