{% extends "base.html" %}
{% block title %}{{ user.username }} | MuyPicky.com{% endblock title %}

{% block content %}
	<h1 class="text-secondary">{{ user.username }} 
		<small>
			<a href="/restaurant" style="font-size: 35%; text-decoration: none;">Add restaurant </a>
		</small>
			<small>|</small>
		<small><a href="/item" style="font-size: 35%;text-decoration: none">Add item</a></small>
	</h1>

	<span class="lead">user.profile : {{ user.profile }}</span><br>
	<span class="lead">request.user : {{ request.user }}</span>

	

	<p>{% include 'profile/snippets/follow_form.html' with username=user.username is_following=is_following %}</p>
	<hr>

	<form class="form row">
		<input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" class="input-field col-sm-8" style="margin-left: 30px">		
		<input type="submit" class="input-field col-sm-3 waves-effect waves-light btn" style="margin-left: 20px">		
	</form>

	<ul class="list-group">
	{% for obj in locations %} 
		<a href = '{{ obj.get_absolute_url }}' class="list-group-item list-group-item-secondary display-4" style="margin-top: 20px">{{ obj.name }}</a>
		<ul class="list-group" style="margin-top: 2px">
			{% for item in obj.item_set.all %}
				<li class="list-group-item list-group-item-primary"><a href = '{{ item.get_absolute_url }}' style="margin-top: 4px; text-decoration: none">{{ item.name }} : </a>

					{% for ing in item.get_contents %}
					<small style="font-size: 90%;" 
					{% if ing.strip == request.GET.q.strip %}
					class="badge badge-pill badge-danger"
					{% else %} 
					class="badge badge-pill badge-info"
					{% endif %}
					>
						<a href='{{ request.path }}?q={{ ing }}' style="text-decoration: none; color: inherit;">{{ ing }}</a>
					</small>
					{% endfor %}

				</li>
			{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% endblock content %}
